@font-face {
  font-family: 'museo-slab';
  src: url('./assets/Museo_Slab_500.otf');
}

body {
  background-image: url('./assets/background.jpg'), linear-gradient(black, grey, black);
  font-family: 'museo-slab'!important;
  font-style: normal!important;
  /*font-weight does't work here since it is an imported font-family, and MuseoSlab 900 is not free :/*/
  font-weight: 900;
}

