body {
  margin: 0;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center; 
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important
}