@font-face {
  font-family: 'museo-slab';
  src: url('./assets/Museo_Slab_500.otf');
}

body {
  background-image: url('./assets/background.jpg'), linear-gradient(black, grey, black);
  font-family: 'museo-slab'!important;
}
